* {
    margin: 0;
    padding: 0;
}

.navigation {
    height: 100%;
}

.nav-info {
    width: 620px;
    margin: 31.5px auto;
}

.nav-list {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
}

.nav-list li a {
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-right: 72px;
}

.img {
    height: 789px;
    width: 100%;
    background-image: url(./img/telephone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-info {
    padding: 0 68px;
    margin-top: 48px;
}

.main-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
    text-align: center;
}

.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    margin-bottom: 28px;
}

.button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    width: 191px;
    height: 51px;
    margin: 66px auto;
    display: flex;
    align-items: center;
    padding: 18px 42px;
}

.copy-info {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-top: 16px;
    padding: 0 105px 29px 0;
}